<template>
  <div>
    <TextForm msg="First Name"  v-model="firstName"></TextForm>
    <MyButton text="Next" :func="nextButton" ></MyButton>
  </div>
</template>

<script>
import TextForm from '@/components/TextForm.vue';
import MyButton from '@/components/MyButton.vue';
import { mapActions } from 'vuex';

export default {
  name: 'Form',
  data() {
    return {
      firstName: 'nklnl',
    };
  },
  components: { MyButton, TextForm },
  methods: {
    ...mapActions(['submitForm']),
    nextButton() {
      this.submitForm({ firstName: this.firstName });
      this.$router.push('/step_two');
    },
  },
};
</script>

<style scoped>
</style>
