<template>
  <div>
    <label>First Name</label>
    <div>{{this.getFirstName}}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Form2',
  computed: {
    ...mapGetters(['getFirstName']),
  },
};
</script>

<style scoped>

</style>
