<template>
  <div>
    <button v-on:click="func" >{{ text }}</button>
  </div>
</template>

<script>
export default {
  name: 'MyButton',
  props: {
    text: String,
    func: Function,
  },
};
</script>

<style scoped>

</style>
