<template>
  <div>
    <label>{{ msg }}</label>
    <input type="text" v-model="currentValue"/>
  </div>
</template>

<script>
export default {
  name: 'TextForm',
  props: {
    msg: String,
    // text: Object,
    value: String,
  },
  computed: {
    currentValue: {
      set(val) {
        this.$emit('input', val);
      },
      get() {
        return this.value;
      },
    },
  },
};
</script>

<style scoped>

</style>
